{% include 'header.twig' %}
        <div class="ui-header">Film List</div>
        <div class="ui-sidebar">
            {% include 'sidebar.twig' %}
        </div>
        <div class="ui-content">
            <div id="ui-maindetails">
                <h1 id="ui-filmtitle">{{ film['film_name'] }} ({{ film['film_year'] }})</h1>
                <span id="ui-filmicon">
                    <img src="styles/img/animation.png" height="25px" width="25px" />
                </span>
                <div id="ui-adaptation">
                    <span id="ui-adaptationsfrom">Adapted from:</span>
                    <ul>
                        <li>LEGO toys</li>
                    </ul>
                    <span id="ui-remakes">Adaptations:</span>
                    <ul>
                        <li>LEGO Movie Video Game: The Movie</li>
                        <li>LEGO Movie: The Book</li>
                    </ul>
                </div>
                <div id="ui-filmposter">
                    <img src="img/LegoMovie.jpg" width="300px" height="500px" />

                    <a href="javascript:toggleDiv( 'ui-adaptation' );">Show/Hide</a>
                </div>
                <ul id="ui-importantdetails">
                    <li><span id="detail-genre">Genre:</span> <span id="output-genre"><ul id="film-tags">
                    {% for tag in film['film_tags'] %}
                        <li>{{ tag }}</li>
                    {% endfor %}</ul></span></li>
                    <li><span id="detail-genre">Run Time:</span> <span id="output-runtime">{{ film['film_runtime'] }} mintues</span></li>
                </ul>
            </div>
            <hr />
            <div id="ui-additionaldetails">
                <div id="ui-filmplot">
                    {{ film['film_plot'] }}
                </div>
            </div>
        </div>
{% include 'footer.twig' %}